// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    box-sizing: border-box;
    margin: 0;
   }

   *:before,
   *:after {
    box-sizing: border-box;
   }

body, html {
    height: 100%;
    margin: 0;
  }
  body {
    position: relative;
    /* The image used */
    background-image: image-url("bg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin :0px;
  }

  .banner {
    background-image: image-url("desk2.jpg"), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 0;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .footer {
    background: slategrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    width: 100%; 
  }

  .footer-links {
    display: flex;
    align-items: center;
  }

  .footer-links a {
    color: white;
    opacity: 0.5;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }
